@import 'utilities.css';

:root{
    --primary:#19b1f8;
    --dark:#060620;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#f2f2f2;
    --secondary:#070606;
}
html,body{
    overflow-x: hidden;
  }

body{
    font-family:Poppins,'sans-serif';
}
html{
    scroll-behavior: smooth;
}
*{
    padding:0;;
    margin:0;
    box-sizing:border-box;
    -webkit-font-smotthing:antialised;
}
header{
    background: var(--dark);
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
    :root {
        --size-divisor: 2;
      }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    :root {
        --size-divisor: 1.5;
      }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    :root {
        --size-divisor: 1;
      }
  }
  
  @media (min-width: 1200px) {
    :root {
        --size-divisor: .67;
      }
    .container {
      max-width: 1152px;
    }
  }

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease; 
}
header nav .left a:hover{
    color:var(--primary);
}
header nav .left h2{
    color:var(--light);
    font-weight: 3;
    font-size: 15;
    margin-right: 3rem;
    align-items: center;
}
header nav{
    padding:2rem 0;
}
header nav .branding{
    margin-right:6rem;
    font-size:1.5rem;
}
header nav .branding span{
    color:var(--primary);
}
.hero{
    padding:1rem 0;
}
.hero .left img{
    width: 400px;
    border-radius: 1px;
    clip-path:polygon(0 8.2%,100% 0,100% 91.8%,0 100%);
    margin-bottom:3rem;
}
.hero .right{
    color:var(--pure);
    margin-left:2rem;
    margin-bottom:-1rem;
}
.hero .right  p span{
    color:var(--primary);
    font-size: 2rem;
    line-height: 20px;
}
.hero .right h3{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom: 0.5rem;;
}
.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
}
.hero .right h1 span{
    color:var(--primary);
    font-family: 'Source Code Pro', monospace;
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -4rem;
}
section{
    padding-top:3rem;
    padding-bottom: 6rem;
}
section.about h1 span{
    color:var(--primary);
}
section.about h1{
    font-size:3rem;
    text-align: center;
}
section.about h3{
    font-size: 2rem;
    padding-bottom:1rem;
}
section.about p{
    line-height: 1.6;
    font-size:20px;
}
.section-heading{
    color:var(--dark);
    text-align: center;
    margin-bottom:6rem ;
    line-height: 0.5;
    font-size: 3rem;
    padding-top:3rem;
}
section .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:2rem ;
    grid-row-gap:2rem ;
}
section.skills{
    background: var(--light);
}
section.certifications{
    background: var(--pure);
}
section.skills .card-wrapper .card{
    background: var(--pure);
    padding:3rem 2rem;
    border-radius: 1%;
    color:var(--secondary);
    text-align: center;
}
section.skills .card-wrapper .card img{
    width:70px;
}
section.certifications .card-wrapper .card{
    background: var(--light);
    padding:3rem 2rem;
    border-radius: 1%;
    color:var(--secondary);
    text-align: center;
}
section.certifications .card-wrapper .card img{
    width:350px;
}

.project-heading{
    color:var(--dark);
    text-align: center;
    margin-bottom:6rem ;
    line-height: 0.5;
    font-size: 3rem;
    padding-top:3rem;
}
.certifications-heading{
    color:var(--dark);
    text-align: center;
    margin-bottom:6rem ;
    line-height: 0.5;
    font-size: 3rem;
    padding-top:3rem;
}

section .card-wrapper2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:2rem ;
    grid-row-gap:2rem ;
}
section.projects{
    background: var(--light);
}
section.projects .card-wrapper2 .card2{
    background: var(--dark);
    padding:3rem 2rem;
    border-radius: 1%;
    color:var(--pure);
    text-align: center;
}
section.projects .card-wrapper2 .card2 img{
    width:200px;
}
.contact-heading{
    color:var(--pure);
    text-align: center;
    margin-bottom:6rem ;
    line-height: 0.5;
    font-size: 3rem;
    padding-top:3rem;
}
section.contactme .contact-heading span{
    color:var(--primary);
}
section.contactme{
    background-color: var(--dark);
    padding:7px;
    padding-bottom:60px;
}
#cm{
    width:260px;
}
#m{
    width:250px;
}
#ontolinks{
    text-decoration: none;
    display:grid;
}
section.contactme .card-wrapper{
    display:grid;
    color:var(--pure);
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    text-align:center;
}
section.contactme .card-wrapper .card img{
    width:100px;
    text-decoration: none;
}
#call{
    width:100px;
}
section.contactme .card-wrapper .card h1{
    font-size: 2rem;
}
section.contactme .card-wrapper .card h6{
    font-size: 1rem;
}
#text{
    text-decoration: none;
    color:var(--pure);
}
footer{
    background-color: var(--primary);
    text-align: center;
}
.footer-social a img{
    width: 60px;
    margin:1rem;
}

@media (max-width:1024px){
    header #main-nav{
        display:none;
    }
}
.site-main-wrapper{
    position:relative;
}
.hamburger{
    position:absolute;
    top:10px;
    right:10px;
    z-index:11;
    background:none;
    border:none;
    outline: none;
    cursor: pointer;
    display:none;
}
.hambrger img{
    width:30px;
}

.mobile-nav{
   position: fixed;
   top:0;
   left:0;
   z-index:1001;
   background:var(--light);
   width:100%;
   height:100%;
   padding:2rem;
   padding-top:5rem;
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   transition:all .5s ease-in-out;
   -webkit-transition:all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
   -ms-transition:all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;
}
.open{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
    background-color: var(--ternary);
}
.times{
   position:fixed;
   top:30px;
   right:30px;
   border: none;
   background:none;
   outline:none;
   cursor: pointer; 
}
.times img{
    width:30px;
}

.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration:none;
    font-size: 2rem;
}

@media (max-width:1024px){
    header #main-nav{
        display:none;
    }
    .hamburger{
        display: block;
    }
    .hero .left img{
        width:260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top:10rem;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }
    section.about .about-me-img{
        height: 360px;
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.certifications .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.projects .card-wrapper2{
        grid-template-columns: repeat(1, 1fr);
    }
    section.projects{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
}

@media (max-width:520px){
    .hero{
        flex-direction:column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }
    .hero .right{
        top:2px;
        padding:0 1rem;
        background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .left{
        margin-top:-5rem;
        margin-right: 0rem;
        padding-bottom:4rem;
    }
    .right flex-1{

    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top:2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top:6rem;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    section.certifications .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contactme .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contactme .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}
